slack_url: "https://hooks.slack.com/services/......"
package_name: "..."
app_repo: "pubsite_prod_rev_123........"
gsutil_path: "gsutil/gsutil"
# For example path to BOTO (gsutil config file). Can be empty
gsutil_variables: "BOTO=secrets/.boto"
